*{
	transition-duration: 0.3s;
	box-sizing: border-box;
}
body{
	padding: 0px;
	margin: 0px;
	/*background-color: #c0c0c0;*/
}
footer{
	height: 100px;
  	margin-top: -50px;
  	background-color: #333;
  	position: relative;
  	padding: 10px;
  	text-align: center;
  	box-shadow: 0 -5px 6px 0 rgba(0, 0, 0, 0.2)
  	/*-moz-box-shadow: 0 -5px 6px #999;
    -webkit-box-shadow: 0 -5px 6px #999;
    box-shadow: 0 -5px 6px #999;*/
}

/* Grid division on the page */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    /*border: 3px solid #73AD21;*/
    padding: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* top menu styling */
.menu {
    overflow: hidden;
    position:fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background-color: #333;
    z-index: 100;
}
.menu a {
    float: right;
    display: block;
    color: #eee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover{
    background-color: #757575;
    color: #fff;
}

.menu .icon {
    display: none;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.container {
	width:80%;
	/*border: 3px solid #73AD21;*/
	margin: auto;
	display: block;
}

.container p {
	padding:0px;
	text-align: left;
	color: grey;
}

.container:first-child img {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 50%;
}

p {
    font-size: 1.1em;
    line-height: 170%;
    color: grey;
    white-space: pre-wrap;
}

a {
    text-decoration: none;
    color: #999;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}

h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}
h4{
	font-size: 1.0em;
	font-family:'Helvetica', 'Sans-Serif';
    color: grey;
}

h5{
	font-size: 14px;
	font-family: 'Tahoma','Verdana','Segoe','sans-serif';
	line-height: 150%;
	color: grey;
}

.card {
    margin-top: 30px;
    /*padding: 20px;*/
    background-color: #fff;
    border-radius: 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body{
	padding: 20px;
}

.skill-bar{
	width: 80%;
	border-radius: 10px;
	background-color: #ddd;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.skill{
	text-align: right;
    padding-right: 20px; 
    line-height: 25px; 
    display: inline-block;
    color: white;
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
*/}

.skill-text {
	text-align: left;
	font-size: 1.2em;
	padding-left: 0px;
	line-height: 25px;
	display: inline-block;
	color: grey; 
}

.java {width: 80%; background-color: #4CAF50;} /* Green */
.android {width: 70%; background-color: #2196F3;} /* Blue */
.python {width: 65%; background-color: #f44336;} /* Red */
.javascript {width: 60%; background-color: #808080;} /* Dark Grey */

.chip {
    display: inline-block;
    /*border: 1px solid #008CBA;*/
    padding: 0 20px;
    margin: 5px;
    height: 35px;
    font-size: 15px;
    line-height: 35px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.chip:hover{
	background-color: #ff3f80;
	color: #fff
}

.detail{
	font-size: 1.0em;
	font-weight: bold;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: grey ;
}

.button {
    background-color: #fff;;
    border: none;
    color: #333;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    border: 2px solid #333;
    font-size: 0.7em;
    margin: 10px;
    cursor: pointer;
}

.button:hover {
	color: #eee;
	background-color: #333;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Timeline properties*/
time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: grey;
  margin-bottom: 8px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin-left: 0px;
  margin: auto;
  padding-top: 30px;
  background: #ff3f80;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 450px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #FAFAFA;
}
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}
 
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #eeeeee transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -490px;
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #eee;
}

.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}
 
.timeline ul li.in-view::after {
  background: #ff3f80;
}
 
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
 
.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}
 
.timeline ul li:nth-child(even) div {
  transform: translate3d(200px,0,0);
}
 
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.timeline-text{
	font-family: 'Cambria', 'Georgia', 'serif';
	color: grey;
}

/* Timeline ends*/


/* Project images cards*/

.polaroid{
	width: 100%;
	background-color: white;
	border: 1px solid #333;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
   	margin-bottom: 10px;
}

.polaroid-body{
	 text-align: center;
  	 padding: 10px;
}

.overlay-container{
	position: relative;
	width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff3f80;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.text {
  white-space: pre-wrap; 
  color: white;
  font-size: 15px;
  position: absolute;
  line-height: 200%;
  overflow: hidden;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay-container:hover .overlay {
	height: 100%;
}

/* Project images cards*/
.header{
	position: relative;
	top:0;
	left: 0;
	width: 100%;
	/*margin: -20px 0px 20px -20px;*/
	padding: 25px;
	border-radius: 20px 20px 0px 0px;
	background-color: #333;
	text-align: center;
	color: #fff;
	font-size: 1.7em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

@media screen and (max-width: 1224px) {
  .timeline ul li div {
    width: 280px;
  }
  .timeline ul li:nth-child(even) div {
    left: -320px; 
  }
}

@media screen and (max-width: 1000px) {
  .timeline ul li div {
    width: 230px;
  }
  .timeline ul li:nth-child(even) div {
    left: -280px; 
  }
}

@media screen and (max-width: 600px) {
  .menu a {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }

  [class*="col-"] {
    width: 100%;
    display: block;
   }
}

@media screen and (max-width: 600px) {
  .menu.responsive {position:fixed;}
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  [class*="col-"] {
    width: 100%;
    display: inline-block;
    padding: 10px;
   }
   .container{
    width: 100%;
    padding: 5px;
   }
   .header{
   	border-radius: 0px;
   }
   .card{
   	border-radius:0px;
   	margin: 0px;
   	padding: 0px;
   	box-shadow: 0px;
   }
   .timeline ul li {
    margin-left: 0px;
  }
   
  .timeline ul li div {
    width: calc(75vw - 66px);
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #eeeeee transparent transparent;
  }
}
